.title{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.notice{
    color: white;
}
.wrapper{
    padding-left: 13rem;
    overflow-x: hidden;
    display: block;
    box-sizing: border-box;
}