
<section class="sidebar">
  <app-sidebar>
  </app-sidebar>
</section>

<!-- Default form contact -->
<div class="wrapper">
<form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <p class="notice">Notice: This feature is working on a local configuration. The node.js api server is needed and github pages only allows static files. Might look into new hosting soon.</p>
    <p class="title">Contact me</p>
  
    <!-- Name -->
    <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
      class="form-control mb-4" placeholder="Name">
  
    <!-- Email -->
    <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
      class="form-control mb-4" placeholder="E-mail">
  
    <!-- Subject -->
    <label>Subject</label>
    <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4">
      <option value="" disabled>Choose option</option>
      <option value="1" selected>Feedback</option>
      <option value="2">Report a bug</option>
      <option value="3">Feature request</option>
      <option value="4">Feature request</option>
    </select>
  
    <!-- Message -->
    <div class="form-group">
      <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
        rows="3" placeholder="Message"></textarea>
    </div>
  
    <!-- Send button -->
    <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
      mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Send</button>
  
  </form>
  <!-- Default form contact -->
</div>