.welcomeBackground{
    background-image: url("../../assets\images\background.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.welcome{
    color: #fff;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 70px;
    position: absolute;
    left: 48.5%;
    top: 400px;
    margin-left: -65px;
    margin-top: -250px;
}
.welcome:hover{
    cursor: pointer;
    
}
.p-link{
    color: rgb(255, 255, 255);
    position: relative;
    top: 44%;
    left: 47%;
    transform: translate(-50%, 0%);
    width: auto;
    height: auto;
}
.p-link:hover{
    cursor: pointer;
}
canvas{
    background: transparent;
	display: block;
	position: absolute;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.wrap{
    background-color: white;
}
* {
    padding: 0;
    margin: 0;
}
html, body {
    position: relative;
    width: 100%;
    height: 100%;
}
body {
    background: #eee;
    height: 100vh;
    width: 100vh;
}