
<section class="sidebarWrapper">
    <app-sidebar></app-sidebar>
</section>
<div class="ProjectsContainer">
    <div class="row">
        <div class="col"> <a href="" ><img src="../../assets/images/CSCLUB.png" width="400px" alt=""></a></div>
        <div class="col"> <a href="" ><img src="../../assets/images/CSCLUB.png" width="400px" alt=""></a></div>
        <div class="w-100"></div>
        <div class="col"> <a href="" ><img src="../../assets/images/CSCLUB.png" width="400px" alt=""></a></div>
        <div class="col"> <a href="" ><img src="../../assets/images/CSCLUB.png" width="400px" alt=""></a></div>
    </div>
</div>