<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

<section id = "btnDown"class = "arrow-wrapper">
    <!--Arrows-->
<app-arrows id = "btn" ></app-arrows>
</section>
<section id = "btnUp"class = "arrow-wrapper2">
    <!--Arrows-->
<app-arrows-up id = "btn2" ></app-arrows-up>
</section>

<style>
    body {
      background-image: url("../../assets/images/background.png");
    }
</style>
<body>
    
    <section class="sidebar">
        <app-sidebar>
        </app-sidebar>
    </section>
    <canvas id="c"></canvas>
        <div class="outer">
            <div class="inner">
                <section class = "home-container">
                    <div class = "container">
                        <div class = "row">
                            <a type="button" class="notice" id="noticeButton"><img src="../../assets/images/about.png" width="100px" alt=""> </a>
                                <div class="rounded text-center border border-info p-5" id="popupTextID" hidden="true">The purpose of this site is to display personal projects I'm working on, demonstrate and practice my web development skills, and to provide a conventient location to contact me. <br><br>Thanks for visiting! </div>
                            
                            <div class="col-sm-7"> 
                                <span class="tags top-tags"> &lt;/html&gt; <br></span>
        
                                <span class = "p-tag">Developer</span>
                                <h1 aria-label=" Hi,  I’m
                                    Robert" class="blast-root"> <span class="blast" aria-hidden="true" style="opacity: 1;">H</span><span class="blast" aria-hidden="true" style="opacity: 1;">i</span><span class="blast" aria-hidden="true" style="opacity: 1;">,</span> <br> <span class="blast" aria-hidden="true" style="opacity: 1;">I</span><span class="blast" aria-hidden="true" style="opacity: 1;">’</span><span class="blast" aria-hidden="true" style="opacity: 1;">m</span>
                                    <img width="50" height="50" src="../../assets/images/r.png" alt="Wordpress Developer Name, Web Developer Name" class="animation-logo">
                                    <span class="blast" aria-hidden="true" style="opacity: 1;">o</span><span class="blast" aria-hidden="true" style="opacity: 1;">b</span><span class="blast" aria-hidden="true" style="opacity: 1;">e</span><span class="blast" aria-hidden="true" style="opacity: 1;">r</span><span class="blast" aria-hidden="true" style="opacity: 1;">t</span><span class="blast" aria-hidden="true" style="opacity: 1;">.</span></h1>
                                
                                <a class = "p-link" href="/contact-component">Contact me<img src="../../assets/images/arrow.png" alt="Arrow icon" width="22"/>
                                </a> 
                                <ul>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                
                                </ul>
                                <br>                   
                            </div>
                        </div>
                    </div>
                </section>
            <div class = "projectContainer">
                <p class="sectionTitle"> My Portfolio</p>
                <p class = "title">Security as Code</p>
                    <p class = "team"> An example project created by me. Take the link to see more + source code.  
                    </p>
                    <p></p>
                    <p class = purpose>See more <a class = "projectsLink" href="/portfolio-component"><img class = "arrow" src="../../assets/images/arrow.png" alt=""></a></p>
                    <img src="../../assets/images/securityAsCode.jpg" alt="" class="udv">
            </div>
        </div>
    </div>
</body>
