.p-profile{
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    z-index: 1000;
}
.p-tag{
    background: #7af1ec;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    font-size: 50px;
    top: 5px;
    right: 5px;
}
.p-des{
    color: #f8f8f8;
    width: 80%;
    font-size: 35px;
    right: 5px;
}
.p-link{
    color: white;
    z-index: 3;
}
.col-sm-7{
    padding-left: 5rem;
    padding-top: 13rem;
}
.github{
    display: flex;
    position: absolute;
    top: 410px;
    align-items: center;
    z-index: 2;
}
.linkedin{
    display: flex;
    position: absolute;
    top: 410px;
    padding:0 20px;
    margin-left: 40px;
    align-items: center;
    z-index: 2;
}
.animation-logo{
    padding-bottom: 15px;
    padding-left: 15px;
}

h2 .blast, h1 .blast {
    opacity: 0;
    display: inline-block;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    color: #fff;
    padding-top: 5px;
}
.contactForm{
    position: absolute;
    top: 1500px;
    left: 66%;
}
.projectContainer{
    background-color: rgb(32, 32, 32);
}
.team{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-left: 25px;
    padding-top: 15px;
    color: white;
}
.title{
    font-family: monospace;
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 255, 255);
    padding: 25px;
}
.purpose{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;

}

.udv{
    padding-left: 190px;
    padding-top: 15px;
    padding-bottom: 40px;
    width: 800px;
    
}
.sectionTitle{
    font-family: monospace;
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 255, 255);
    padding: 25px;
}  
.home-container{
    height: 100vh;
    overflow: hidden;
    
}
.arrow-wrapper{
    position: fixed;
    right: 3vh;
    top: 86%;
    z-index: 2;
}
.arrow-wrapper2{
    position: fixed;
    right: 3vh;
    top: 74.5%;
    z-index: 2;
}
canvas{
    background: transparent;
	display: block;
	position: absolute;
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 1;
}
.sidebar{
    color: green;
}
.wrap{
    background-color: white;
}
* {
    padding: 0;
    margin: 0;
}
html, body {
    position: relative;
    width: 100%;
    height: 100%;
}
body {
    padding-left: 13rem;
    overflow-x: hidden;
    display: block;
    box-sizing: border-box;
}

.row {
    height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
h1{
    font-size: 50px;
}
.tags {
    color: #515152;
    position: absolute;
    bottom: 0;
    left: 4rem;
    font-style: italic;
    font-size: 1.0rem;
    font-family: 'La Belle Aurore', cursive;
}
.top-tags {
    bottom: auto;
    top: 2rem;
}
.middle-tags{

}
h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-style: italic;
    font-size: 1rem;
    position: absolute;
    margin-top: -5rem;
    left: 1rem;
}
h1:after {
    content: '</h1>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-style: italic;
    font-size: 1rem;
    position: absolute;
    margin-top: 3.8rem;
    margin-left: 2rem;
}
.notice{
    color: white;
    position: absolute;
    right: -15rem;
    width: 20%;
    top: 3rem;
    cursor: pointer;
    z-index: 5;
}
.popupText{
    color: turquoise;
    position: absolute;
    right: 10rem;
    width: 300px;
    top: 4rem;
    cursor: pointer;
    font-size: 22px;
    font-family: monospace;
}