.p-profile{
    background-image: url("../../assets\images\me.jpg");
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    z-index: 1000;
}
.p-tag{
    background: #7af1ec;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    font-size: 14px;
}
.p-des{
    color: #f8f8f8;
    width: 80%;
}
.p-link{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    z-index: 3;
    
}
.github{
    display: flex;
    position: absolute;
    top: 410px;
    align-items: center;
    z-index: 2;
}
.linkedin{
    display: flex;
    position: absolute;
    top: 410px;
    padding:0 20px;
    margin-left: 40px;
    align-items: center;
    z-index: 2;
}
.animation-logo{
    padding-bottom: 15px;
    padding-left: 15px;
}

h2 .blast, h1 .blast {
    opacity: 0;
    display: inline-block;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    color: #fff;
    padding-top: 5px;
}
.contactForm{
    position: absolute;
    top: 1500px;
    left: 66%;
}
.container{
    background-color: transparent;
}

.projectContainer{
    background-color: rgb(32, 32, 32);
}
.team{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-left: 25px;
    padding-top: 15px;
    color: white;
}
.title{
    font-family: monospace;
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 255, 255);
    padding: 25px;
}
.purpose{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;

}

.udv{
    padding-left: 190px;
    padding-top: 15px;
    padding-bottom: 40px;
    width: 800px;
    
}
.sectionTitle{
    font-family: monospace;
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 255, 255);
    padding: 25px;
}  
.home-container{
    height: 100vh;
    overflow: hidden;
    
}
.arrow-wrapper{
    position: fixed;
    right: 3vh;
    top: 86%;
    z-index: 2;
}
.arrow-wrapper2{
    position: fixed;
    right: 3vh;
    top: 74.5%;
    z-index: 2;
}
canvas{
    background: transparent;
	display: block;
	position: absolute;
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 1;
}
/* .wrap{
    background-color: white;
}
* {
    padding: 0;
    margin: 0;
}
html, body {
    position: relative;
    width: 100%;
    height: 100%;
}
body {
    background: #eee;
    height: 100vh;
    width: 100vh;
} */